<a href="https://colab.research.google.com/github/thorodim/PythonP./blob/main/conversioni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
età = 24
testo = 'la mia età è '
testo + str (età) #conversione int in stringa

'la mia età è 24'

In [5]:
arance_per_sacco = '27'
int (arance_per_sacco) * 3 #anche qui conversione da stringa a int

81

In [6]:
print (str(33) + ' trentini entrarono a trento ')

33 trentini entrarono a trento