<a href="https://colab.research.google.com/github/thorodim/PythonP./blob/main/list%20e%20tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# liste --> tipo di dati che contiene insieme di dati uguali o diversi ma ordinati in base ad indice di lista
elenco = [2,5,'bacon',3.14,'eggs'] #ogni dato ha un numero associato, da indice partono da 0 partendo da sx
elenco[2]
elenco [-2] #partono da -1 partendo da dx

3.14

In [36]:
primi = [2,3,5,7,11,13,17,19,23,29]
primi[3:9] #dall'indice 3 al 9
fetta = primi [3:9] #creata var con i numeri dal terzo posto di indice al nono
fetta

0
1
2
3
4

In [40]:
for primo in primi:
  print(primo)

2
3
5
7
11
13
17
19
23
29

In [41]:
lista_numerica = list (range(99,300)) #creazione lista con funzione list
lista_numerica

[99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299]

In [45]:
lista_multipla = ['spam','eggs',23,'bacon',[1,2,3,4,5],3] #creazione lista multipla
lista_multipla #richiama lista multipla intera
lista_multipla[-2] #sottolista in base all'indice
lista_multipla[-2][-1] #elemento specifico della sottolista
lista_multipla[3] = 'pancetta' #sostituire elemento della lista con indice 3 con "pancetta"
lista_multipla
del lista_multipla [-2] #per cancellare elemento con indice -2 con istruzione del

['spam', 'eggs', 23, 'pancetta', [1, 2, 3, 4, 5], 3]

In [47]:
# tuple --> insieme di elementi definiti con parentesi tonde o senza
# una volta creati i tuple non si possono modificare o cancellare
tuple1 = (2,4,9,15,23)
tuple1
tuple2 = 7,8,9
tuple2

(7, 8, 9)